click>=7.1.2
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
Flask==2.0.3
Flask-SocketIO
gevent
gevent-websocket
greenlet
gunicorn
itsdangerous
Jinja2==3.1.1
opencv-python
Pillow
python-engineio
python-socketio
redis
six
Werkzeug
tensorflow-cpu==2.9.1
Pillow